/* Eliminate default margin on every page */
body {
  background-color: #1f1f1f;
  margin: 0;
}

/* "Odin Recipes" Navbar + Page Titles */

.navbar {
  background-color: goldenrod;
  padding: 16px;
  text-align: center;
}

.home-link,
h1 {
  font-family: Luminari, fantasy;
}

.home-link {
  color: #1f1f1f;
  font-size: 32px;
  margin: auto;
  text-decoration: none;
}

h1 {
  color: goldenrod;
  margin-inline-start: .67em;
  margin-inline-end: .67em;
  text-align: center;
}

/* Homepage Recipes List */

.recipes-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.listed-recipe {
  margin-bottom: 16px;
}

.listed-recipe-link {
  font-size: 20px;
  color: lightgray;
  text-decoration: none;
}

.listed-recipe-link:hover {
  color: lightgoldenrodyellow;
}

/*  */

img {
    border: 5px solid goldenrod;
    display: block;
    margin: auto;
}
